body {
    font-family: Helvetica, "san serif";
    background-color: darkgray;
    padding: 25px;
    font-size: 120%;
}
h1, h2, h3 {
    font-family: "Courier New", monospace;
}
h1 {
  border-style: solid;
  text-align: center;
}
p {
    text-decoration: none;
    color: maroon;
    text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 3px grey;
}
#content {border: solid 1px #888;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding: auto 20px 10px 20px;
  width: 95%;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #fff;}
#links {border: solid 1px #888;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding: auto 20px 10px 20px;
  width: 95%;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #fff;}
