body {
    font-family: "Verdana", sans-serif;
    background-color: #DCADF1;
    padding: 25px;
    font-size: 100%;
}
h1, h2, h3 {
    font-family: "Verdana", sans-serif;
}
h1 {
  text-align: left;
  font-size: 150%;
}
h2 {
  text-align: left;
  font-size: 120%;
}
h3 {
  text-align: left;
  font-size: 100%;
}
p {
    font-family: "Verdana", sans-serif;
    text-decoration: none;
    color: black;
    text-align: left;
}
img {
  display: block;
  box-shadow: 5px 5px 3px grey;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
figure {
  background-color: white
  padding: 4px;
  margin: auto;
}
figcaption {
  color: black;
  font-style: italic;
  padding: 5px;
  text-align: center;
}
#right {
  float: right;
  max-width: 300px;
}
.content {border: groove 1px #000;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding: auto 30px 10px 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  background-color: #F8F5F9;
overflow: auto}
.links {border: groove 1px #000;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding: auto 20px 10px 20px;
  width: 90%;
  margin: auto;
  background-color: #F8F5F9;}
