div {
  display: block;
  font-size: 200%;
  height: auto;
  max-width: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
img {
  display: block;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
figure {
  background-color: white
  padding: 4px;
  margin: auto;
}
figcaption {
  color: black;
  font-style: italic;
  padding: 5px;
  text-align: center;
}
.fancy-button {
  background-color: purple;
  color: white;
  width: 100px;
  font-family: bold;
}
